brotlipy==0.7.0
certifi==2021.10.8
cffi==1.15.0  # Replace with the correct version
chardet==4.0.0  # Replace with the correct version
conda==4.11.0
conda-package-handling==1.7.3  # Replace with the correct version
cryptography==3.4.7  # Replace with the correct version
idna==2.10  # Replace with the correct version
numpy==1.24.2
plotly==5.13.1
pycosat==0.6.3
pycparser==2.20  # Replace with the correct version
pyOpenSSL==20.0.1  # Replace with the correct version
PySocks==1.7.1  # Replace with the correct version
requests==2.25.1  # Replace with the correct version
ruamel-yaml-conda==0.15.80  # Replace with the correct version
six==1.16.0  # Replace with the correct version
tenacity==8.2.2
tqdm==4.62.3  # Replace with the correct version
urllib3==1.26.6  # Replace with the correct version